 .App{
    text-align:center;
}

.App .header {
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;  
}

/* .App .wc-players-list {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    background-color:lightblue;

} */


/* .usercard{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    padding:25px;
    background-color:lightgray;
    flex-wrap:nowrap;
    margin-left:30%;
    margin-right:30%;
} */

.dark-mode__toggle {
  background: lightsteelblue;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
}

.toggle {
  background: darkblue;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;

}

.toggled {
  left: 18px;
}

.dark-mode {
  color: #fff;
  background-color: darkmagenta;
}
  
.darkmode {
  border: none;
  display:flex;
  justify-content:center;
}
